.parent {
  display: flex;
}

.column {
  flex: 50%;
}

.chessboard{
  width: 35vw;
  margin-left: auto;
  margin-right: 5vw;
}

.game-infos{
  width: 40vw;
  margin-left: auto;
  text-align: center;
}

.moves{
  height: 33.5vw;
  width: 15vw;
  overflow: auto;
}

.clock{
  font-size: 2em;
  font-weight: bold;
}

.move:hover{
  cursor: pointer;
  background-color: lightgrey;
}
