.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chessboard{
  width: 50vw;
  max-width: 35vw;
  min-width: 300px;
  margin-right: 1em;
}

.game-infos{
  width: 100%;
  text-align: center;
}

.moves{
  height: 65vh;
  overflow: auto;
}

.clock{
  font-size: 2em;
  font-weight: bold;
}

.move:hover{
  cursor: pointer;
  background-color: var(--hover-color);
}

mat-icon{
  font-size: 50px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
