img{
    width: 30px;
    margin-top: 25%;
}

mat-form-field{
    width: 35px;
    margin-right: 1vw;
    display: block;
}


mat-label{
    display: none;
}

@media (min-width: 890px) {
    mat-label{
        display: inline;
    }
    
    mat-form-field{
        width: 65px;
    }
}    

mat-label{
    font-family: "Nova Square";
    color: white;
    font-size: 20px;
}

::ng-deep .mat-form-field-infix{
    border-top: none !important;
}

::ng-deep .mat-select-arrow, ::ng-deep .mat-select-value-text{
    color: white !important;
}

::ng-deep .mat-select-panel{
    width: fit-content !important;
    min-width: auto !important;
}
