<mat-form-field *ngIf="tournaments">
    <mat-label>Archives</mat-label>
    <mat-select [(value)]="tournamentId" matTooltip="Choose a pogchamp edition" (selectionChange)="changeTournamentId($event.value)">
        <mat-option *ngFor="let tournament of tournaments" value={{tournament.id}}>
            {{tournament.id}} 
            <ng-container *ngIf="tournament.winner; else unknown">
                <img src="assets/player/{{tournament.winner.twitch}}.png"/>
            </ng-container>

            <ng-template #unknown>
                <!-- <mat-icon>help</mat-icon> -->
            </ng-template>
        </mat-option>
    </mat-select>
</mat-form-field>