:root{
    --bg-color:white;
    --text-color: black;
    --hover-color:lightgrey;
    --tile-bg-color:white;
    --box-shadow-color: rgba(0, 0, 0, 0.12);
}

[data-theme="dark"] {
    --bg-color: #2b2a44;
    --text-color: rgba(210,209,236,1);
    --hover-color: #6e468f;
    --tile-bg-color: #222148;
    --box-shadow-color: white;
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}