table {
  width: 35vw;
}

.avatar{
  width: 50px;
}

.cdk-column-photo{
  width: 50px;
}

.mat-row{
    position: relative;
}

.mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
}
