table {
  width: 35vw;
}

.avatar{
  width: 50px;
}

.cdk-column-photo{
  width: 50px;
}

.mat-row{
    position: relative;
}
.mat-row:hover{
    background-color: lightgrey;
    opacity: 0.95;
    transition: 0.2s;
}

.mat-row-link{
    position: absolute;
    width: 60%;
    height: 100%;
}

.group-link{
  padding: 1vh 2vh;
  border: 1px solid lightgrey;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

.group-link:hover{
  background-color: lightgrey;
  opacity: 0.95;
  transition: 0.2s;
}
