<div class="parent">
  <div class="column">
    <div *ngIf="participant?.player as player" class="player-card">
      <img class="profile-picture" src="assets/player/{{player.twitch}}.png" alt="">
      <div class="player-infos" >
        <div class="username">
          /{{player.twitch}}
          <a href="https://www.twitch.tv/{{player.twitch}}" target="blank">
            <span class="icon twitch"></span>
          </a>
          <a href="https://www.chess.com/member/{{player.username}}" target="blank">
            <span class="icon chess"></span>
          </a>
        </div>

        <a class="group-link" [routerLink]="['/group', participant.groupe]">Group {{participant.groupe}}</a>

        <ng-container *ngIf="stats">
          <div *ngIf="stats.chess_blitz as blitz">
            <span class="icon blitz" matTooltip="Blitz rating"></span> {{blitz.last.rating}}
            <span *ngIf="blitz.best"> Best {{blitz.best.rating}} </span>
          </div>
          <div *ngIf="stats.chess_bullet as bullet">
            <span class="icon bullet" matTooltip="Bullez rating"></span> {{bullet.last.rating}}
            <span *ngIf="bullet.best"> Best {{bullet.best.rating}} </span>
          </div>
          <div *ngIf="stats.chess_rapid as rapid" >
            <span class="icon rapid" matTooltip="Rapiz rating"></span> {{rapid.last.rating}}
            <span *ngIf="rapid.best"> Best {{rapid.best.rating}} </span>
          </div>
        </ng-container>
      </div>

    </div>
    <app-match *ngIf="matchs" [matchs]="matchs" (clickedMatch)="showGames($event)"></app-match>
  </div>

  <div class="column">
    <div>
      <app-list *ngIf="games" [games]="games"></app-list>
    </div>
  </div>
</div>
