.parent {
  display: flex;
}

.column {
  flex: 50%;
}

.player-card{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
}

.profile-picture{
  width: 150px;
}

.player-infos{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 1em;
}

.blitz{
  content: url('../../assets/icons/blitz.png');
}

.bullet{
  content: url('../../assets/icons/bullet.png');
}

.rapid{
  content: url('../../assets/icons/rapid.png');
}

.icon {
  max-height: 20px;
  width: 1vw;
}
