<header> 
  <a href="{{tournament ? tournament.info_url : '/'}}">
    <img src="assets/logo/logo.png" class="logo">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  
  <div class="right">
    <app-tournament></app-tournament>
    <a href="https://github.com/orieuxe/pogchamps">
      <img src="assets/logo/github.png" class="github">
    </a>
    <div class="theme-switch-wrapper" matToolTip="toggle dark mode !">
      <label class="theme-switch" for="checkbox">
          <input (change)=updateTheme($event.target.checked) type="checkbox" id="checkbox" [checked]="darkTheme"/>
          <div class="slider round">
            <mat-icon>brightness_3</mat-icon>
            <mat-icon>wb_sunny</mat-icon>
          </div>
      </label>
    </div>
  </div>

  <nav>
    <a [routerLink]="['/participants']"  routerLinkActive="active"> Participants </a>
    <a [routerLink]="['/schedule']"  routerLinkActive="active"> Schedule </a>
    <a [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Groupstage </a>
    <a [routerLink]="['/bracket/winner']" routerLinkActive="active"> Championship bracket </a>
    <a [routerLink]="['/bracket/loser']" routerLinkActive="active"> Consolation bracket </a>
  </nav>
</header>
<div class="blank"></div>
<router-outlet></router-outlet>
