<a [routerLink]="['/']">
  <img src="assets/logo/logo.png" class="logo">
</a>
<div class="nav">
  <a [routerLink]="['/today']"  routerLinkActive="active"> Today's matches </a>
  <a [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Groupstage </a>
  <a [routerLink]="['/bracket/winner']" routerLinkActive="active"> Winner bracket </a>
  <a [routerLink]="['/bracket/loser']" routerLinkActive="active"> Loser Bracket </a>
</div>
<a href="https://github.com/orieuxe/pogchamps">
  <img src="assets/logo/github.png" class="github">
</a>
<router-outlet></router-outlet>
