.parent {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

mat-form-field{
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color:var(--text-color) !important;
 }
 
 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:var(--text-color) !important;
 } 
 
 ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color:var(--text-color) !important;;
 }
 
 ::ng-deep .mat-form-field-label {
  /*change color of label*/
  color:var(--text-color) !important;
 }
 
 
 mat-datepicker-toggle {
  color:var(--text-color) !important;
 }