html {
  font-size: 1rem;
}

body {
  background: #f0f2f2;
}

.parent {
  display: flex;
}

.bracket {
 margin-left: 8vw;
 margin-right: 3vw; 
}

.bracket .round {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}

.participants {
  border-radius: 0.25rem;
  overflow: hidden;
}

app-matchup:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
  border-color: #60c645;
}
.bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
}
.bracket .round .winners > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 4rem;
}
.bracket .round .winners > div.connector .merger {
  position: relative;
  height: 8rem;
}
.bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.bracket .round .winners > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
.bracket .round .winners > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}
.bracket .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 10rem;
}
.bracket .round.semifinals .winners .connector .merger {
  height: 16rem;
}
.bracket .round.semifinals .winners .connector .line {
  height: 8rem;
}
.bracket .round.finals .winners .connector .merger {
  height: 3rem;
}
.bracket .round.finals .winners .connector .line {
  height: 1.5rem;
}
