table{
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  table{
    margin-right: unset;
  }
}

tr:hover{
  background-color: var(--hover-color);
  opacity: 0.95;
  transition: 0.2s;
  cursor: pointer;
}

.avatar{
  width: 70px;
}

.match-infos{
  text-align: center;
}
