table{
  margin-left: auto;
  margin-right: auto;
}

tr:hover{
  background-color: lightgrey;
  opacity: 0.95;
  transition: 0.2s;
  cursor: pointer;
}

.avatar{
  width: 70px;
}

.match-infos{
  text-align: center;
}
