<table cellspacing="0" cellpadding="10">
  <tr *ngFor="let match of matchs" (click)="onClick(match)">
      <td>
        <img *ngIf="match.participant1" class="avatar" src="assets/player/{{match.participant1.player.twitch}}.png" alt="404">
      </td>
      <td class="match-infos">
        <div *ngIf="match.participant1 && match.participant2">{{match.participant1.player.twitch}} vs {{match.participant2.player.twitch}}</div>
        <div>{{getUnix(match) | timeago:'live'}}</div>
        <div *ngIf="match.result"> {{match.result}}</div>
      </td>
      <td>
        <img *ngIf="match.participant2" class="avatar" src="assets/player/{{match.participant2.player.twitch}}.png" alt="404">
      </td>
  </tr>
</table>
